#content.content
	.container
		.row
			.col-12
				.panel.panel-default
					.panel-heading.text-center.panel-title Welcome to the Open Door Project
					.panel-body
						| The most ambitious initiative to bring all faiths together in peace and love and to show mutual understanding and respect.
						br
						| To bring those that have not yet found their faith and path to start their journey
						br
						| To help everyone find a place of worship with an open door and a big welcome no matter who they are and where they are frombr
						br
						| To build the biggest open database of Places of Worship in the World
						br
						| To build links between Places of Worship, friendships and be a catalyst for initiatives between faiths.
						br
						| We need you to contribute as without you there is no success.
						br
						| How can you help?
						br
						br
						ol
							li Give feedback, suggestions, praise, criticism
							li Check to see if your Place of Worship is listed and add it if it isn't
							li Each place of worship needs an Editor and either claim this role or inform the person that you thinks it should be to claim
							li Check any other Places of Worship you know and get them listed if they aren't already
							li Register to get updates about your Place of Worship and the Project
							li Volunteer to help with the project - (can you help translate to another language, do some online help for Editors and visitors, all help welcome)
							li Like the page on your Social networks and even better if you can share also
							li If you write for a Blog or Website then please link to the Place of Worship Profile page and tell your readers about the website
							li Donate to the project and all donations are used as follows:
								ul
									li maintain the website
									li add new functionality and suggested changes to bring value to those using the profile pages and website
									li promote the Place of Worship profile page with the aim of increasing awareness for that page. This is through online marketing with paid advertising on Google, Bing and other search engines. Search Engine Optimisation
									li This is a non profit with all funds being used for the above objectives
						br
						| We would love to hear from you, even a hello is welcome and we always reply.