#content.content
   .container
      .row
         .col-12
            .panel.panel-info
               .panel-heading
                  h4.panel-title About us
               .panel-body
                  p Lorem ipsum blablabla