#content.content
	.container
		.row
			.col-12
				.panel(ng-class="'panel-' + $alertType")
					.panel-heading
						h4.panel-title Error
					.panel-body.bg-red.text-white
						p {{ $alertMessage }}