#content.content
	.container
		.row
			.col-lg-12
				form.form-inline(name="form", novalidate)
					//span.inline-spacer
					.form-group(ng-class="{'has-error': (form.$submitted || form.country.$touched) && form.country.$error.required}")
						select.form-control(name="country", ng-model="country", ng-default-option="All countries")
							//option(value="", selected) All groups
							option(value="{{name}}", ng-repeat="name in countriesList") {{name}}
					.form-group(ng-class="{'has-error': (form.$submitted || form.locality.$touched) && form.locality.$error.required}")
						input.form-control(name="locality", ng-model="locality", placeholder="All cities")
					.form-group(ng-class="{'has-error': (form.$submitted || form.religion.$touched) && form.religion.$error.required}")
						select.form-control(name="religion", ng-model="religion")
							option(value="", selected) All religions
							option(value="{{name}}", ng-repeat="name in religionsList") {{name}}
					.form-group(ng-class="{'has-error': (form.$submitted || form.groupName.$touched) && form.groupName.$error.required}")
						select.form-control(name="groupName", ng-model="groupName")
							//option(value="", selected) All groups
							option(value="{{name}}", ng-repeat="name in groupsList") {{name}}
					button.btn.btn-md.btn-primary(type='submit', ng-click="searchJobs()") Search
					.clearfix
		.row
			.col-lg-12.m-t-40
				h4.text-center(ng-show='message.length') {{message}}
				div(ng-show="jobs")
					div(ng-show="jobs.length")
						.table-wrap.bg-white
							table#search-table.table
								thead
									tr
										th Title
										th Type
										th Country
										th Place
								tbody
									tr.place-link(ng-repeat="job in jobs", ng-mousedown="openJob($event, job)")
										td {{job.title}}
										td {{job.type}}
										td {{job.country}}
										td {{job.place}}
										td.text-right
											i.fa.fa-chevron-right