#content.content
	.container.bg-white
		.row.p-10
			.col-lg-6(ng-show="$place.photoExt")
				img.place-photo.center-block(ng-src="{{$imageSrc}}")
			.col-lg-6
				h3 {{$place.name}}
				dl
					dt(ng-show="$place.faith") Faith
					dd {{$place.faith}}
					dt(ng-show="$place.pastorName") Pastor name
					dd {{$place.pastorName}}
					dt(ng-show="$place.phone") Phone
					dd {{$place.phone}}
					dt(ng-show="$place.postalCode") Postal code
					dd {{$place.postalCode}}
					dt(ng-show="$place.address") Address
					dd {{$place.address}}
					dt(ng-show="$place.email") Email
					dd {{$place.email}}
					dt(ng-show="$place.openingTime") Opening time
					dd {{$place.openingTime | date:'shortTime'}}
					dt(ng-show="$place.closingTime") Closing time
					dd {{$place.closingTime | date:'shortTime'}}

		.row.p-10
			.col-lg-12
				h4 Location
				#results-map