#content.content
	.container
		.row
			.col-lg-8.bg-white
				.row.p-l-40.p-r-40.p-b-20
					.col-sm-7
						h1 {{$place.name}}
						a.rating-group(href="#reviews")
							span.fa(ng-class="$place.averageRating >= 1 ? 'fa-star' : 'fa-star-o'")
							span.fa(ng-class="$place.averageRating >= 2 ? 'fa-star' : 'fa-star-o'")
							span.fa(ng-class="$place.averageRating >= 3 ? 'fa-star' : 'fa-star-o'")
							span.fa(ng-class="$place.averageRating >= 4 ? 'fa-star' : 'fa-star-o'")
							span.fa(ng-class="$place.averageRating >= 5 ? 'fa-star' : 'fa-star-o'")
							span  ({{$place.ratingsCount}})
					.col-sm-5.text-right
						h3 {{$place.religion}}
							span(ng-show="$place.groupName") , {{$place.groupName}}
						h4(ng-show="$place.denominations.length") {{$place.denominations.join(', ')}}

				.row
					.place-photo-wrap(ng-if="$place.bannerPhoto")
						img.place-photo(ng-src="{{$place.bannerPhoto}}", ng-show="$place.bannerPhoto")
					//.col-lg-12
					a.btn.place-edit-btn.btn-primary.pull-right.m-r-40(href="/places/edit/{{$placeId}}") Edit place
					.leader-photo-wrap(ng-if="$place.leaderPhoto")
						img.leader-photo(ng-src="{{$place.leaderPhoto}}", ng-image-load="$onLeaderPhotoLoad()")
					h3.m-l-40.p-l-10(ng-if="!$place.leaderPhoto && $place.leaderName") Place leader
					h4.leader-title(ng-class="$place.leaderPhoto ? 'photo-title' : 'alone-title'") {{$place.leaderRole}} {{$place.leaderName}}

				.row.p-40.p-t-40.p-b-10(ng-show="$mainMeetingText")
					.col-lg-12
						h6
							strong {{$mainMeetingText}}
				.row.p-40.p-b-0(ng-show="$place.about")
					.col-lg-12
						h3 About
						p {{$place.about}}

				.row.p-40.p-b-10
					.col-lg-12
						h3 Location
				.row
					.col-lg-12
					#results-map
				.row.p-40(ng-show="$place.travelInformation")
					.col-lg-12
						h3 Travel information
						p {{$place.travelInformation}}
				.row.p-40
					.col-sm-8
						h3 Contact form
						ng-include(src="'assets/templates/partials/contactform.html'")
					#contacts-block.col-sm-4
						h3 Other contacts
						div(ng-show="$place.address")
							.fa.fa-home
							|  {{$place.address}}
						div(ng-show="$place.phone")
							.fa.fa-phone
							|  {{$place.phone}}
						div(ng-show="$place.homepage")
							.fa.fa-link
							a(href="{{$place.homepage}}", target="_blank", rel="nofollow")  {{$place.homepage}}
						h3 Page details
						h6.m-t-20(ng-show="$place.maintainer") This page is maintained by {{$place.maintainer.name}}
						h6(ng-show="!$place.maintainer") There is no maintainer for this page
						a(ng-if="!$isMaintainer", href="/places/claim/{{$placeId}}", target="_self") Claim to be the editor
						h6(ng-show="$place.updatedAt") Last updated at {{$place.updatedAt}}
				.row
					.col-lg-12.p-l-40.p-r-40.p-b-40
						a(name="reviews")
						h3 Reviews
							a.btn.btn-sm.btn-primary.m-l-5(href="/places/review/{{$placeId}}")  Add a review
						span(ng-hide="$place.reviews.length") There are no reviews
						div.rating-group.m-b-40(ng-repeat="$review in $place.reviews")
							h5 {{$review.name}}
							.fa(ng-class="$review.rating >= 1 ? 'fa-star' : 'fa-star-o'")
							.fa(ng-class="$review.rating >= 2 ? 'fa-star' : 'fa-star-o'")
							.fa(ng-class="$review.rating >= 3 ? 'fa-star' : 'fa-star-o'")
							.fa(ng-class="$review.rating >= 4 ? 'fa-star' : 'fa-star-o'")
							.fa(ng-class="$review.rating >= 5 ? 'fa-star' : 'fa-star-o'")
							div {{$review.text}}
			.col-lg-1
			.col-lg-3.bg-white.place-sidebar.p-b-10
				h3 Nearby places
				div(ng-show='$nearbyPlacesMessage.length') {{$nearbyPlacesMessage}}
				.bg-white(ng-show='$nearbyPlaces.length')
					table#search-table.table
						tbody
							tr.place-link(ng-repeat="$place in $nearbyPlaces", ng-mousedown="$root.$openPlace($event, $place)", ng-mouseover="$mouseOver($index)", ng-mouseout="$mouseOut($index)")
								td {{$place.name}}
								td {{$place.distance}}m