#content.content
   .container
      .row
         .col-lg-12
            form.form-inline(name="form", novalidate)
               .form-group(ng-class="{'has-error': (form.$submitted || form.name.$touched) && form.name.$error.required}")
                  input.form-control(name="name", ng-model="name", placeholder="Name")
               .form-group(ng-class="{'has-error': (form.$submitted || form.religion.$touched) && form.religion.$error.required}")
                  select.form-control(name="religion", ng-model="religion")
                     option(value="", selected) All religions
                     option(value="{{name}}", ng-repeat="name in religionsList") {{name}}
               //.checkbox
               //   label(for="maintained") Only maintained
               //   input.form-control(type="checkbox", id="maintained", name="maintained", ng-model="maintained")
               //   | &nbsp;
               button.btn.btn-md.btn-primary(type='submit', ng-click="searchPlaces()") Filter
               .clearfix
      .row
         .col-lg-12.m-t-40
            h4.text-center(ng-show='message.length') {{message}}
            div(ng-show="places")
               div(ng-show="places.length")
                  .table-wrap.bg-white
                     table#search-table.table
                        thead
                           tr
                              th Name
                              th Religion
                              th
                        tbody
                           tr.place-link(ng-repeat="place in places", ng-mousedown="$root.openPlace($event, place)", ng-mouseover="mouseOver($index)", ng-mouseout="mouseOut($index)")
                              td {{place.name}}
                              td {{place.religion}}
                              td.text-right
                                 a(href="/places/{{place.uri}}")
                                    i.fa.fa-chevron-right
                  ul.pagination.pagination-without-border
                     li(ng-class="{disabled: page == 1}", ng-click="page == 1 || setPage(1)")
                        a.pointer <<
                     li(ng-class="{disabled: page == 1}", ng-click="page == 1 || setPage(page - 1)")
                        a.pointer <
                     li(ng-repeat="n in pagesAsArray", ng-class="{active: page == n}")
                        a.pointer(ng-click="setPage(n)") {{n}}
                     li(ng-class="{disabled: page == pages}", ng-click="page == pages || setPage(page + 1)")
                        a.pointer >
                     li(ng-class="{disabled: page == pages}", ng-click="page == pages || setPage(pages)")
                        a.pointer >>
