#content.content
	.container.bg-white
		.row.p-l-40.p-r-40
			.col-sm-8
				h1 {{$place.name}}
			.col-sm-4.text-right
				h3 {{$place.religion}}
					span(ng-show="$place.groupName") , {{$place.groupName}}
				h4(ng-show="$place.denominations.length") {{$place.denominations.join(', ')}}

		.row
			.place-photo-wrap
				img.place-photo(ng-src="{{$place.bannerPhoto}}", ng-show="$place.bannerPhoto")
			.leader-photo-wrap
				img.leader-photo(ng-src="{{$place.leaderPhoto}}", ng-show="$place.leaderPhoto")
			h4.leader-title {{$place.leaderRole}} {{$place.leaderName}}
		.row
			.col-sm-12.p-l-40
				a.btn.btn-primary(href="/places/edit/{{$placeId}}") Edit place
		.row.p-40
			#contacts-block.col-sm-6
				h3 Contacts
				div
					.fa.fa-home
					|  {{$place.address}}
				div
					.fa.fa-phone
					|  {{$place.phone}}
				div
					.fa.fa-link
					a(href="http://{{$place.url}}")  {{$place.url}}
				div

		.row.p-40
			.col-lg-12
				h3 About
				p {{$place.about}}
				h3 Travel information
				p {{$place.travelInformation}}

			.col-lg-12.p-l-40.p-r-40.hidden
				dl
					dt(ng-show="$place.groupName") Group name
					dd {{$place.groupName}}
					dt(ng-show="$place.address") Address
					dd {{$place.address}}
					dt(ng-show="$place.denominations.length") Denomination
					dd {{$place.denominations.join(', ')}}
					dt(ng-show="$place.leaderName") Leader name
					dd {{$place.leaderName}}
					dt(ng-show="$place.leaderRole") Leader role
					dd {{$place.leaderRole}}
					dt(ng-show="$place.phone") Phone
					dd {{$place.phone}}
					dt(ng-show="$place.phone") URL
					dd {{$place.url}}
					dt(ng-show="$place.mainMeetingDay") Main meeting day
					dd {{$place.mainMeetingDay}}
					dt(ng-show="$place.mainMeetingTime") Main meeting time
					dd {{$place.mainMeetingTime}}
		.row
			.col-lg-12
				h3.p-40.p-b-10 Location
			#results-map
		.row
			.col-lg-12.p-l-40.p-r-40(ng-controller="ReviewAddCtrl")
				ng-include(src="'assets/templates/partials/reviewadd.html'")
