#content.content
	.container
		.row
			.col-lg-12.m-t-40
				h1.m-b-40 Suggested changes
				h4.search-placeholder.text-center(ng-show='$message.length') {{$message}}
				.table-wrap.bg-white(ng-show='$changes.length')
					table#search-table.table
						thead
							tr
								th User
								th Place
								th Field
								th New value
								th Action
						tbody
							tr(ng-repeat="$change in $changes")
								td {{$change.user.name}}
								td
									a(href="/places/{{$change.place._id}}") {{$change.place.name}}
								td {{$change.field}}
								td {{$change.value}}
								td
									a.btn.btn-sm.btn-primary(href="/placechanges/{{$change._id}}/accept", target="self") Accept
									span &nbsp;
									a.btn.btn-sm.btn-danger(href="/placechanges/{{$change._id}}/deny", target="self") Deny