#page-container.page-container.page-sidebar-fixed.page-header-fixed.fade.in.p-t-0
	.ng-scope(ui-view='')
		.ng-scope(ui-view='')
			.ng-scope(ui-view='')
				.login.bg-black.animated.fadeInDown
					.login-header
						.brand
							span.logo
							|  OpenDoor
							small small description here
						.icon
							i.fa.fa-key
					.login-content
						.alert.fade.in(ng-show="$alertMessage", ng-class="'alert-' + $alertType")
							span.close(data-dismiss='alert') ×
							i.fa.fa-check.fa-2x.pull-left
							p {{ $alertMessage }}
						form.margin-bottom-0(, method="POST", action="/register", novalidate, name="registerForm")
							.form-group.m-b-20(ng-class="{'has-error': (registerForm.$submitted || registerForm.email.$touched) && (registerForm.email.$error.required || registerForm.email.$error.email)}")
								div(ng-show="registerForm.$submitted || registerForm.email.$touched")
									label.control-label(ng-show="registerForm.email.$error.required") Email is required.
									label.control-label(ng-show="registerForm.email.$error.email") This is not a valid email.
								input.form-control.input-lg(placeholder="Email Address", type="email", name="email", ng-model="email" required)
							.form-group.m-b-20(ng-class="{'has-error': (registerForm.$submitted || registerForm.password.$touched) && registerForm.password.$error.required}")
								div(ng-show="registerForm.$submitted || registerForm.password.$touched")
									label.control-label(ng-show="registerForm.password.$error.required") Password is required.
								input.form-control.input-lg(placeholder="Password", type="password", name="password", ng-model="password" required)
							.login-buttons
								input.btn.btn-success.btn-block.btn-lg(type="button" value="Register" ng-click="submitForm()")