//#content.content
//	.container.bg-white.p-t-10

h3.m-t-30 Add a review
form(method="POST", ng-action="/places/review/{{$place._id}}", novalidate, name="form")
	.form-group.rating-group.m-0(ng-class="{'has-error': (form.$submitted || form.rating.$touched) && form.rating.$error.required}")
		label.control-label Radio Button
		.radio
			label
				input(type="radio", name="rating", ng-model="rating", value="1", required)
				.fa.fa-star
				.fa.fa-star-o
				.fa.fa-star-o
				.fa.fa-star-o
				.fa.fa-star-o
		.radio
			label
				input(type="radio", name="rating", ng-model="rating", value="2", required)
				.fa.fa-star
				.fa.fa-star
				.fa.fa-star-o
				.fa.fa-star-o
				.fa.fa-star-o
		.radio
			label
				input(type="radio", name="rating", ng-model="rating", value="3", required)
				.fa.fa-star
				.fa.fa-star
				.fa.fa-star
				.fa.fa-star-o
				.fa.fa-star-o
		.radio
			label
				input(type="radio", name="rating", ng-model="rating", value="4", required)
				.fa.fa-star
				.fa.fa-star
				.fa.fa-star
				.fa.fa-star
				.fa.fa-star-o
		.radio
			label
				input(type="radio", name="rating", ng-model="rating", value="5", required)
				.fa.fa-star
				.fa.fa-star
				.fa.fa-star
				.fa.fa-star
				.fa.fa-star
	.form-group.m-0(ng-class="{'has-error': (form.$submitted || form.note.$touched) && form.note.$error.required}")
		label.control-label Note
		textarea.form-control(placeholder='Write your feedback', rows='5', name="note", ng-model="note", required)
	input.hidden(name="target" ng-value="$targetPage")
	.form-group.m-0
		label.control-label
			input.btn.btn-sm.btn-primary(type="button", ng-click="submitForm()", value="Send feedback")