#content.content
	.container.bg-white.p-t-10
		div
			h3.text-center.m-t-30 Add a review
			form.form-horizontal(method="POST", novalidate, name="form")
				.form-group(ng-class="{'has-error': (form.$submitted || form.rating.$touched) && form.rating.$error.required}")
					label.col-md-3.control-label Rating

					.col-md-9

						.radio.rating-group
							label
								input(type="radio", name="rating", ng-model="rating", value="1", required)
								.fa.fa-star
								.fa.fa-star-o
								.fa.fa-star-o
								.fa.fa-star-o
								.fa.fa-star-o
						.radio.rating-group
							label
								input(type="radio", name="rating", ng-model="rating", value="2", required)
								.fa.fa-star
								.fa.fa-star
								.fa.fa-star-o
								.fa.fa-star-o
								.fa.fa-star-o
						.radio.rating-group
							label
								input(type="radio", name="rating", ng-model="rating", value="3", required)
								.fa.fa-star
								.fa.fa-star
								.fa.fa-star
								.fa.fa-star-o
								.fa.fa-star-o
						.radio.rating-group
							label
								input(type="radio", name="rating", ng-model="rating", value="4", required)
								.fa.fa-star
								.fa.fa-star
								.fa.fa-star
								.fa.fa-star
								.fa.fa-star-o
						.radio.rating-group
							label
								input(type="radio", name="rating", ng-model="rating", value="5", required)
								.fa.fa-star
								.fa.fa-star
								.fa.fa-star
								.fa.fa-star
								.fa.fa-star
				.form-group(ng-class="{'has-error': (form.$submitted || form.text.$touched) && form.text.$error.required}")
					label.col-md-3.control-label Note
					.col-md-9
						textarea.form-control(placeholder='Write your review', rows='5', name="text", ng-model="text", required)
				.form-group
					label.col-md-3.control-label
					.col-md-9
						input.btn.btn-sm.btn-primary(type="button", ng-click="submitForm()", value="Add review")