#content.content
	.container
		.row
			.col-lg-12
				form.form-inline(name="form", novalidate)
					.form-group(ng-class="{'has-error': (form.$submitted || form.address.$touched) && form.address.$error.valid}")
						.input-group.location-picker
							input.location-picker-address.form-control(name="address", ng-model="address", placeholder="Address", autocomplete="off", required)
							input.location-picker-location.hidden(name="location", ng-model="location")
							.input-group-btn
								button.location-picker-detect-button.btn.btn-inverse Detect my location
					span.inline-spacer
					.form-group(ng-class="{'has-error': (form.$submitted || form.religion.$touched) && form.religion.$error.required}")
						select.form-control(name="religion", ng-model="religion")
							option(value="", selected) All religions
							option(value="{{$name}}", ng-repeat="$name in $religionsList") {{$name}}
					input.hidden(name="maxDistance", ng-model="maxDistance", value="5000")
					button.btn.btn-md.btn-primary(type='submit', ng-click="$searchPlaces()") Search
					.clearfix
		.row
			.col-lg-12(ng-hide='$message.length')
				#results-map
		.row
			.col-lg-12.m-t-40
				h4.search-placeholder.text-center(ng-show='$message.length') {{$message}}
				.table-wrap.bg-white(ng-show='$places.length')
					table#search-table.table
						thead
							tr
								th Name
								th.hidden-sm-down Religion
								th Distance
								th
						tbody
							tr.place-link(ng-repeat="$place in $places", ng-mousedown="$root.$openPlace($event, $place)", ng-mouseover="$mouseOver($index)", ng-mouseout="$mouseOut($index)")
								td {{$place.name}}
								td.hidden-sm-down {{$place.religion}}
								td {{$place.distance}}m
								td.text-right
									i.fa.fa-chevron-right