#content.content
	.container
		.row
			.col-12
				form.form-inline(name="form")
					//.form-group
					//	//label.control-label Location
					//	.input-group.location-picker
					//		input.form-control(type='text' placeholder="Location")
					//		.input-group-btn
					//			ul.dropdown-menu.pull-right
					//			button.btn.btn-inverse(type='button') Detect location
					.form-group(ng-class="{'has-error': (form.$submitted || form.address.$touched) && form.address.$error.valid}")
						.input-group.location-picker
							input.form-control(name="address", ng-location, ng-location-autodetect, ng-model="location", placeholder="Location")
							input.hidden(name="location")
							.input-group-btn
								button.btn.btn-inverse Detect location
					span.inline-spacer
					.form-group(ng-class="{'has-error': (form.$submitted || form.faiths.$touched) && form.faiths.$error.required}")
						select.form-control(name="faiths", ng-model="faiths", required)
							option(value="*", selected) All faiths
							option(value="{{$name}}", ng-repeat="$name in $faithsList") {{$name}}
					button.btn.btn-md.btn-primary.pull-right(type='submit', ng-click="$searchPlaces()") Search
					.clearfix
			.col-12.m-t-40
				h4.search-placeholder.text-center(ng-show='$message.length') {{$message}}
				.table-wrap.bg-white(ng-show='$places.length')
					table.table
						thead
							tr
								th Name
								th.hidden-sm-down Faith
								th Distance
								th
						tbody
							tr.place-link(ng-repeat="$place in $places", ng-click="$openPlace($event, $place)")
								td {{$place.name}}
								td.hidden-sm-down {{$place.faith}}
								td {{$place.distance}}m
								td.text-right
									i.fa.fa-chevron-right