#content.content
	.container
		.row
			.col-lg-12(ng-show='searchComplete')
				form.form-inline(name="form", style="width: 40%; margin: 0 auto 15px;" novalidate)
					.form-group(ng-class="{'has-error': (form.$submitted || form.address.$touched) && form.location.$error.required}")
						.input-group.location-picker
							input.location-picker-address.form-control(name="address", ng-model="address", placeholder="Address", autocomplete="off", required)
							input.location-picker-location.hidden(name="location" required)
							.input-group-btn
								button.location-picker-detect-button.btn.btn-inverse Detect my location
					span.inline-spacer
					input.hidden(name="maxDistance", ng-model="maxDistance", value="5000")
					.clearfix
				h4.text-center(ng-show='message.length') {{message}}
				h5.text-center(ng-show="!places.length")
					| If you know of a place of worship please&nbsp;
					a.add-place(href="/places/add") add it
					| &nbsp;or we can&nbsp;
					a(href="/subscribefornotification?lat={{lat}}&lng={{lng}}") notify you when a place nearby is added
		.row
			.col-lg-6.m-t-20
				div(ng-show="places")
					div(ng-show="places.length")
						.table-wrap.bg-white
							table#search-table.table
								thead
									tr
										th Name
										th.hidden-sm-down Religion
										th Distance
										th
								tbody
									tr.place-link(ng-repeat="place in places", ng-mousedown="$root.openPlace($event, place)", ng-mouseover="mouseOver($index)", ng-mouseout="mouseOut($index)")
										td {{place.name}}
										td.hidden-sm-down {{place.religion}}
										td {{place.distance}}m
										td.text-right
											i.fa.fa-chevron-right
						h4.m-t-40.text-center If the Place of Worship you are looking for isn't listed, please help us by&nbsp;
							a.add-place(href="/places/add") adding it
			.col-lg-6.m-t-20(ng-hide='message.length')
				#results-map