#content.content
	.container
		.row
			.col-12
				.panel(ng-class="'panel-' + alertType")
					.panel-heading
						h4.panel-title Tools
					.panel-body
						a.btn.btn-sm.btn-primary(href="/generateSitemap", target="_self") Generate sitemap
						br
						br
						a.btn.btn-sm.btn-primary(href="/mailingList", target="_self") Download mailing list

