@media (min-width: 768px) {
	.form-inline .form-group {
		margin-right: 10px;
	}

	.form-inline .location-picker input {
		min-width: 300px;
	}
}

@media (max-width: 420px) {
	.hidden-sm-down {
		display: none;
	}
}


html, body {
	height: auto;
}

.content {
	margin-left: 0;
	margin-top: 80px;
}

.pointer {
	cursor: pointer;
}

.table {
	background-color: white;
	border-radius: 0;
}

.table>thead>tr>th {
	border-width: 1px!important;
}

.table-wrap {
	padding: 10px;
	border-top: 2px solid #2A72B5;
}

.location-picker-results {
	position: absolute;
	background-color: white;
	border: 1px solid #2A72B5;
	border-top: 0;
	cursor: default;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.location-picker-result {
	padding: 6px 12px;
}

.location-picker-active input {
	border-bottom-left-radius: 0;
}

.location-picker-active button {
	border-bottom-right-radius: 0;
}


select.form-control,
.form-control {
	border-color: #2A72B5;
}

.search-placeholder {
	color: #666;
}

.table {
	margin-bottom: 0;
}

img.place-photo {
	max-width: 100%;
}

.place-link {
 cursor: pointer;
}


.place-link.hover,
.place-link:hover {
	background-color: #EFFBFF;
}

.place-link:hover .fa {
	color: #3E63D2;
}

#wrap {
	min-height: 85%;
}

.my-footer {
	border-top: 1px solid #CAD0D6;
	padding: 15px 0;
	margin: 0 2%;
	width: 96%;
	text-align: center;
}


.angular-google-map-container { height: 500px; }



.rating-group .fa {
	font-size: 120%;
	color: #FFBE00;
	padding-top: 3px;
}