/* general layout */

@media (min-width: 768px) {
	.form-inline .form-group {
		margin-right: 10px;
	}

	.form-inline .location-picker input {
		min-width: 300px;
	}

}

@media (max-width: 420px) {
	.hidden-sm-down {
		display: none;
	}
}

@media (min-width: 1200px) {
	#place-sidebar{
		margin-left: 10px;
	}
}

@media (max-width: 767px) {
	.content {
		margin-left: 0;
		padding: 6px;
	}
}


html, body {
	height: auto;
}

.content {
	margin-left: 0;
	margin-top: 80px;
}

/* various typography elements */

.pointer {
	cursor: pointer;
}

.link {
	cursor: pointer;
	color: #337ab7;
}

.inline {
	display: inline;
}

.link:hover {
	color: #23527c;
	text-decoration: underline;
}

/* tables */

.table {
	background-color: white;
	border-radius: 0;
	margin-bottom: 0;
}

.table>thead>tr>th {
	border-width: 1px!important;
}

.table-wrap {
	padding: 10px;
	border-top: 2px solid #2A72B5;
}

/* UI elements */

.location-picker-results {
	position: absolute;
	background-color: white;
	border: 1px solid #2A72B5;
	border-top: 0;
	cursor: default;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	max-height: 400px;
	overflow: auto;
}

.location-picker-result {
	padding: 6px 12px;
}

.location-picker-active input {
	border-bottom-left-radius: 0;
}

.location-picker-active button {
	border-bottom-right-radius: 0;
}


.input-group-addon {
	border: 1px solid;
}

select.form-control,
.select2-dropdown,
.select2-container--default .select2-selection--single,
.input-group-addon,
.trumbowyg-box,
.form-control {
	border-color: #2A72B5;
	border-radius: 3px;
}


ul.tagit.ui-widget {
	border-color: #2A72B5!important;
}

.trumbowyg-box, .trumbowyg-editor {
	margin: 0;
	width: 100%;
}

/* place page */

#place-main
, #place-sidebar>*{
	background-color: white;
	margin-bottom: 20px;
}

#place-main {
	padding-bottom: 20px;
}

#place-sidebar>.col{
	padding: 10px;
}

#place-sidebar>.col>*:first-child{
	margin-top: 0;
}

#place-sidebar>.col>*:last-child{
	margin-bottom: 0;
}


@media (min-width: 1024px) {
	#place-main > .row > .col:first-child {
		padding-left: 40px;
	}

	#place-main > .row > .col:last-child {
		padding-right: 40px;
	}
	#place-main > .row {
		padding: 5px 0;
	}
}

.place-photo-wrap,
.leader-photo-wrap {
	position: relative;
	overflow: hidden;
}
.place-photo,
.leader-photo {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	height: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.place-photo-wrap {
	width: 100%;
	height: 400px;
}

.leader-photo-wrap {
	height: 160px;
	width: 160px;
}


.place-photo-wrap + .leader-photo-wrap {
	border: 5px solid white;
	margin-left: 35px;
	margin-top: -120px;
}

.leader-photo {
	height: 100%;
	width: auto;
}

.leader-photo.portrait {
	height: auto;
	width: 100%;
}

.leader-title.photo-title {
	position: absolute;
	bottom: 0;
	left: 196px;
}

#photos {
	position: relative;
}

@media (max-width: 768px) {
	.place-photo-wrap {
		height: 200px;
	}

	.leader-photo-wrap {
		height: 100px;
		width: 100px;
		margin-left: 5px;
	}

	.place-photo-wrap + .leader-photo-wrap {
		margin-left: 5px;
		margin-top: -68px;
	}

	.leader-title.photo-title {
		position: absolute;
		bottom: -6px;
		left: 103px;
	}
}

.single-event p,
.event p{
	margin: 3px 0;
}

.review, .event {
	margin: 10px 0;
}



#contacts-block div {
	font-size: 110%;
}


.place-link {
 cursor: pointer;
}


.place-link.hover,
.place-link:hover {
	background-color: #EFFBFF;
}

.place-link:hover .fa {
	color: #3E63D2;
}

#wrap {
	min-height: 85%;
}

.my-footer {
	border-top: 1px solid #CAD0D6;
	padding: 15px 0;
	margin: 0 2%;
	width: 96%;
	text-align: center;
}



#map {
	width: 100%;
	height: 500px;
}



.rating-group {
	font-size: 120%;
}

.rating-group .fa {
	color: #FFBE00;
}
.rating-group .fa {
	padding-top: 3px;
}

.rating-group {
	color: #FFBE00;
}

.rating-group.link:hover {
	text-decoration: none;
}

.rating-group.link:hover,
.rating-group.link:hover .fa  {
	color: #FF9B00!important;
}


#additional-info-link {
	font-size: 120%;
}


.change-preview-photo {
	max-width: 200px;
}

.job-link,
.job-info,
.sponsor-link {
	font-size: 130%;
}

.job h5 {
	display: inline-block;
}

.job span {
	margin-top: 3px;
}