/*** uncss> filename: http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700 ***/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTYnF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSonF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');
}

/*** uncss> filename: assets/color_admin/plugins/bootstrap/css/bootstrap.min.css ***/

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

footer {
  display: block;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

b,
strong {
  font-weight: 700;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

small {
  font-size: 80%;
}

img {
  border: 0;
}

button,
input,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

@media print {
  *,
  :after,
  :before {
    color: #000!important;
    text-shadow: none!important;
    background: 0 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  thead {
    display: table-header-group;
  }

  img,
  tr {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%!important;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .navbar {
    display: none;
  }

  .table {
    border-collapse: collapse!important;
  }

  .table td,
  .table th {
    background-color: #fff!important;
  }
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyphicon-ok:before {
  content: "\e013";
}

.glyphicon-time:before {
  content: "\e023";
}

.glyphicon-calendar:before {
  content: "\e109";
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #23527c;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

small {
  font-size: 85%;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 10px;
}

ol ul,
ul ul {
  margin-bottom: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-12,
.col-lg-4,
.col-lg-8,
.col-md-3,
.col-md-9,
.col-sm-12,
.col-sm-4 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width:768px) {
  .col-sm-12,
  .col-sm-4 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }
}

@media (min-width:992px) {
  .col-md-3,
  .col-md-9 {
    float: left;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-3 {
    width: 25%;
  }
}

@media (min-width:1200px) {
  .col-lg-12,
  .col-lg-4,
  .col-lg-8 {
    float: left;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }
}

table {
  background-color: transparent;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table>tbody>tr>td,
.table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.table>thead:first-child>tr:first-child>th {
  border-top: 0;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

input[type=checkbox],
input[type=radio] {
  margin: 4px 0 0;
  margin-top: 1px\9;
  line-height: normal;
}

input[type=file] {
  display: block;
}

input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

textarea.form-control {
  height: auto;
}

.form-group {
  margin-bottom: 15px;
}

.checkbox,
.radio {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkbox label,
.radio label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

.checkbox input[type=checkbox],
.radio input[type=radio] {
  position: absolute;
  margin-top: 4px\9;
  margin-left: -20px;
}

.radio+.radio {
  margin-top: -5px;
}

.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

@media (min-width:768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }

  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }

  .form-inline .input-group .form-control,
  .form-inline .input-group .input-group-btn {
    width: auto;
  }

  .form-inline .input-group>.form-control {
    width: 100%;
  }

  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }

  .form-inline .checkbox label {
    padding-left: 0;
  }

  .form-inline .checkbox input[type=checkbox] {
    position: relative;
    margin-left: 0;
  }
}

.form-horizontal .radio {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}

.form-horizontal .radio {
  min-height: 27px;
}

.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width:768px) {
  .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
  }
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn:active:focus,
.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:focus,
.btn:hover {
  color: #333;
  text-decoration: none;
}

.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary:focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}

.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-primary:active {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-primary:active:focus,
.btn-primary:active:hover {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}

.btn-primary:active {
  background-image: none;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-success:focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}

.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-success:active {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.btn-success:active:focus,
.btn-success:active:hover {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}

.btn-success:active {
  background-image: none;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-block {
  display: block;
  width: 100%;
}

input[type=button].btn-block {
  width: 100%;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.fade.in {
  opacity: 1;
}

.collapse {
  display: none;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover {
  color: #777;
}

.dropdown-menu>.disabled>a:focus,
.dropdown-menu>.disabled>a:hover {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.open>.dropdown-menu {
  display: block;
}

@media (min-width:768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.btn-group>.btn {
  position: relative;
  float: left;
}

.btn-group>.btn:active,
.btn-group>.btn:focus,
.btn-group>.btn:hover {
  z-index: 2;
}

.btn-group>.btn:first-child {
  margin-left: 0;
}

.btn-group .dropdown-toggle:active {
  outline: 0;
}

.btn .caret {
  margin-left: 0;
}

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
  display: table-cell;
}

.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group .form-control:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group-addon:last-child,
.input-group-btn:last-child>.btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-addon:last-child {
  border-left: 0;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.input-group-btn>.btn {
  position: relative;
}

.input-group-btn>.btn:active,
.input-group-btn>.btn:focus,
.input-group-btn>.btn:hover {
  z-index: 2;
}

.input-group-btn:last-child>.btn {
  z-index: 2;
  margin-left: -1px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav>li {
  position: relative;
  display: block;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav>li>a:focus,
.nav>li>a:hover {
  text-decoration: none;
  background-color: #eee;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

@media (min-width:768px) {
  .navbar {
    border-radius: 4px;
  }
}

@media (min-width:768px) {
  .navbar-header {
    float: left;
  }
}

.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}

@media (min-width:768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
  }

  .navbar-fixed-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar-fixed-top .navbar-collapse {
  max-height: 340px;
}

@media (max-device-width:480px) and (orientation:landscape) {
  .navbar-fixed-top .navbar-collapse {
    max-height: 200px;
  }
}

.container>.navbar-collapse,
.container>.navbar-header {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width:768px) {
  .container>.navbar-collapse,
  .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

@media (min-width:768px) {
  .navbar-fixed-top {
    border-radius: 0;
  }
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand:focus,
.navbar-brand:hover {
  text-decoration: none;
}

@media (min-width:768px) {
  .navbar>.container .navbar-brand {
    margin-left: -15px;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle:focus {
  outline: 0;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

@media (min-width:768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

@media (min-width:768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }

  .navbar-nav>li {
    float: left;
  }

  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

@media (min-width:768px) {
  .navbar-right {
    float: right!important;
    margin-right: -15px;
  }
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-default .navbar-brand {
  color: #777;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  color: #5e5e5e;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: #777;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  color: #333;
  background-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #ddd;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-default .navbar-collapse {
  border-color: #e7e7e7;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination>li {
  display: inline;
}

.pagination>li>a {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination>li:first-child>a {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination>li:last-child>a {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination>li>a:focus,
.pagination>li>a:hover {
  z-index: 3;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert>p {
  margin-bottom: 0;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-body {
  padding: 15px;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.panel-default {
  border-color: #ddd;
}

.panel-default>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-info>.panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.panel-danger {
  border-color: #ebccd1;
}

.panel-danger>.panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}

.clearfix:after,
.clearfix:before,
.container:after,
.container:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}

.clearfix:after,
.container:after,
.form-horizontal .form-group:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.panel-body:after,
.row:after {
  clear: both;
}

.pull-left {
  float: left!important;
}

.hidden {
  display: none!important;
}

@-ms-viewport {
  width: device-width;
}

/*** uncss> filename: assets/color_admin/plugins/font-awesome/css/font-awesome.min.css ***/

/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'),url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.fa-2x {
  font-size: 2em;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}

.fa-star:before {
  content: "\f005";
}

.fa-star-o:before {
  content: "\f006";
}

.fa-check:before {
  content: "\f00c";
}

.fa-home:before {
  content: "\f015";
}

.fa-chevron-right:before {
  content: "\f054";
}

.fa-phone:before {
  content: "\f095";
}

.fa-link:before {
  content: "\f0c1";
}

.fa-plus-square:before {
  content: "\f0fe";
}

/*** uncss> filename: assets/color_admin/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css ***/

/*!
 * Datetimepicker for Bootstrap 3
 * version : 4.14.30
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */

.input-group.date .input-group-addon {
  cursor: pointer;
}

/*** uncss> filename: assets/color_admin/css/animate.min.css ***/

@charset "UTF-8";

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license

Copyright (c) 2013 Daniel Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/*** uncss> filename: assets/color_admin/css/style.min.css ***/

/*   
Template Name: Color Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.5
Version: 1.9.0
Author: Sean Ngu
Website: http://www.seantheme.com/color-admin-v1.9/admin/
*/

.btn:active:focus,
.btn:focus,
a:focus {
  outline: 0;
}

body,
html {
  height: 100%;
}

body {
  background: #d9e0e7;
  font-size: 12px;
  font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #707478;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: #242a30;
}

a {
  transition: color 100ms ease-in-out;
  -o-transition: color 100ms ease-in-out;
  -ms-transition: color 100ms ease-in-out;
  -moz-transition: color 100ms ease-in-out;
  -webkit-transition: color 100ms ease-in-out;
}

label {
  color: #242a30;
}

.page-header-fixed {
  padding-top: 54px;
}

.header {
  z-index: 1020;
  margin-bottom: 0;
}

.navbar {
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.3);
  box-shadow: 0 0 2px rgba(0,0,0,.3);
}

.navbar.navbar-default {
  background: #fff;
}

.navbar-brand {
  margin-right: 10px;
  padding: 12px 20px;
  height: 54px;
  width: 220px;
  font-weight: 100;
  font-size: 18px;
  line-height: 30px;
}

.navbar-default .navbar-brand {
  color: #333;
}

.navbar-toggle {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background: #333;
}

.navbar-toggle:focus,
.navbar-toggle:hover {
  background: 0 0!important;
  opacity: .6;
  filter: alpha(opacity=60);
}

.navbar-nav>li>a {
  line-height: 20px;
  padding: 17px 15px;
}

.navbar-default .navbar-nav>li>a {
  color: #585663;
}

.navbar-nav>li>a:focus,
.navbar-nav>li>a:hover {
  opacity: .6;
  filter: alpha(opacity=60);
}

.navbar-nav>li>.dropdown-menu {
  border-top: 1px solid #eee;
}

.content {
  margin-left: 220px;
  padding: 20px 25px;
}

.form-control {
  border: 1px solid #ccd0d4;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.form-control:focus {
  border-color: #9fa2a5;
  -webkit-box-shadow: none;
  box-shadow: none;
}

label {
  font-weight: 500;
}

select.form-control {
  border-color: #ccd0d4;
}

.input-group-addon {
  background: #e2e7eb;
  border: none;
}

.dropdown-menu {
  border: none;
  -webkit-box-shadow: 0 2px 5px -1px rgba(0,0,0,.2);
  box-shadow: 0 2px 5px -1px rgba(0,0,0,.2);
  font-size: 12px;
}

.dropdown-menu>li>a {
  padding: 5px 15px;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
  background: #edf0f5;
}

.alert {
  border: none;
}

.pagination>li>a {
  border-color: #e2e7eb;
  color: #242a30;
}

.pagination.pagination-without-border>li>a {
  border-color: #fff;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover {
  opacity: .6;
  filter: alpha(opacity=60);
  border-color: #ddd;
}

.pagination>li>a {
  color: #242a30;
  margin-left: 5px;
  -webkit-border-radius: 3px!important;
  -moz-border-radius: 3px!important;
  border-radius: 3px!important;
}

.pagination>li:first-child>a {
  margin-left: 0;
}

.pagination>li>a:focus,
.pagination>li>a:hover {
  color: #242a30;
  background: #e2e7eb;
  border-color: #d8dde1;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover {
  background: #242a30!important;
  border-color: #242a30!important;
}

.nav>li>a {
  color: #6e7179;
}

.nav>li>a:focus,
.nav>li>a:hover {
  color: #333;
  background: #fafafa;
}

.btn {
  font-weight: 300;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn>.pull-left {
  line-height: 1.428571429;
}

.btn-block {
  padding-left: 12px;
  padding-right: 12px;
}

.btn:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.1);
}

.btn.btn-white {
  font-weight: 400;
  color: #333;
  background: #fff;
  border-color: #e2e7eb;
}

.btn-white:active,
.btn-white:focus,
.btn-white:hover {
  background: #e2e7eb;
  border-color: #d8dde1;
}

.btn.btn-inverse {
  color: #fff;
  background: #2d353c;
  border-color: #2d353c;
}

.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:hover {
  background: #242a30;
  border-color: #242a30;
}

.btn.btn-primary {
  color: #fff;
  background: #348fe2;
  border-color: #348fe2;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background: #2a72b5;
  border-color: #2a72b5;
}

.btn.btn-success {
  color: #fff;
  background: #00acac;
  border-color: #00acac;
}

.btn.btn-success:active,
.btn.btn-success:focus,
.btn.btn-success:hover {
  background: #008a8a;
  border-color: #008a8a;
}

.panel {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.panel-heading {
  padding: 10px 15px;
  border: none;
}

.panel-title {
  line-height: 20px;
}

.panel-title {
  font-size: 12px;
}

.panel-body {
  padding: 15px;
}

.panel-default>.panel-heading {
  background: #fafafa;
}

.panel-danger>.panel-heading,
.panel-info>.panel-heading {
  color: #fff;
}

.panel-danger>.panel-heading {
  background: #cc4946;
}

.panel-info>.panel-heading {
  background: #3a92ab;
}

.table {
  border-color: #e2e7eb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.table>thead>tr>th {
  color: #242a30;
  font-weight: 600;
  border-bottom: 2px solid #e2e7eb!important;
}

.table>tbody>tr>td,
.table>thead>tr>th {
  border-color: #e2e7eb;
  padding: 10px 15px;
}

.row {
  margin: 0 -10px;
}

.row>[class*=col-] {
  padding: 0 10px;
}

.semi-bold {
  font-weight: 600;
}

.m-t-10 {
  margin-top: 10px!important;
}

.m-t-15 {
  margin-top: 15px!important;
}

.m-t-20 {
  margin-top: 20px!important;
}

.m-t-30 {
  margin-top: 30px!important;
}

.m-t-40 {
  margin-top: 40px!important;
}

.m-b-10 {
  margin-bottom: 10px!important;
}

.m-b-20 {
  margin-bottom: 20px!important;
}

.m-b-30 {
  margin-bottom: 30px!important;
}

.m-b-40 {
  margin-bottom: 40px!important;
}

.p-25 {
  padding: 25px!important;
}

.p-t-0 {
  padding-top: 0!important;
}

.p-t-10 {
  padding-top: 10px!important;
}

.text-center {
  text-align: center!important;
}

.text-right {
  text-align: right!important;
}

.pull-left {
  float: left!important;
}

.bg-white {
  background: #fff!important;
}

.bg-black {
  background: #2d353c!important;
}

.animated {
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}

body .bootstrap-select .btn:focus {
  outline: 0!important;
}

.login {
  margin: 168px 0;
  position: relative;
}

.login label {
  color: #707478;
}

.login .login-header {
  position: absolute;
  top: -80px;
  left: 50%;
  right: 0;
  width: 450px;
  padding: 0 40px;
  margin-left: -225px;
  font-weight: 300;
}

.login .login-header .brand {
  padding: 0;
  font-size: 28px;
}

.login .login-header .brand .logo {
  border: 14px solid transparent;
  border-color: #4DCACA #31A3A3 #1D8888;
  width: 28px;
  height: 28px;
  position: relative;
  font-size: 0;
  margin-right: 10px;
  top: -9px;
}

.login .login-header .brand small {
  font-size: 14px;
  display: block;
}

.login .login-content {
  padding: 30px 40px;
  color: #999;
  width: 450px;
  margin: 0 auto;
}

/*** uncss> filename: assets/color_admin/css/style-responsive.min.css ***/

/*   
Template Name: Color Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.5
Version: 1.9.0
Author: Sean Ngu
Website: http://www.seantheme.com/color-admin-v1.9/admin/
*/

@media (max-width:767px) {
  .page-header-fixed {
    padding-top: 109px;
  }

  .content {
    margin-left: 0!important;
  }

  .navbar-nav {
    margin: 0;
  }

  .navbar-brand {
    width: auto;
  }

  .navbar-header {
    border-bottom: 1px solid #eee;
  }

  .navbar-right {
    float: right;
  }

  .navbar-nav>li {
    float: left;
  }

  .content {
    margin-left: 0;
    padding: 20px;
  }

  .login .login-header,
  .login-content {
    width: 100%!important;
  }

  .login {
    margin: 108px 0;
  }

  .login .login-header {
    left: 0;
    margin: 0;
  }
}

@media (max-width:767px) {
  .navbar-collapse {
    float: none!important;
    border-top: none;
    border-bottom: 1px solid #eee;
  }

  .navbar-collapse .nav>li {
    float: none;
  }
}

/*** uncss> filename: assets/color_admin/css/theme/default.css ***/

/*   
Template Name: Color Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.5
Version: 1.9.0
Author: Sean Ngu
Website: http://www.seantheme.com/color-admin-v1.9/admin/
*/

.login .login-header .brand .logo {
  border-color: #4DCACA #31A3A3 #1D8888;
}

/* Added in v1.5 */

/* Added in v1.7 */

/*** uncss> filename: bower_components/bootstrap-select/dist/css/bootstrap-select.min.css ***/

/*!
 * Bootstrap-select v1.9.4 (http://silviomoreto.github.io/bootstrap-select)
 *
 * Copyright 2013-2016 bootstrap-select
 * Licensed under MIT (https://github.com/silviomoreto/bootstrap-select/blob/master/LICENSE)
 */

.bootstrap-select {
  width: 220px\9;
}

.bootstrap-select>.dropdown-toggle {
  width: 100%;
  padding-right: 25px;
  z-index: 1;
}

.bootstrap-select>select {
  position: absolute!important;
  bottom: 0;
  left: 50%;
  width: .11px!important;
  height: 100%!important;
  padding: 0!important;
  opacity: 0!important;
  border: none;
}

.bootstrap-select .dropdown-toggle:focus {
  outline: thin dotted #333!important;
  outline: 5px auto -webkit-focus-ring-color!important;
  outline-offset: -2px;
}

.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
}

.bootstrap-select.form-control:not([class*=col-]) {
  width: 100%;
}

.bootstrap-select.btn-group:not(.input-group-btn) {
  float: none;
  display: inline-block;
  margin-left: 0;
}

.form-group .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group {
  margin-bottom: 0;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  text-align: left;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -2px;
  vertical-align: middle;
}

.bootstrap-select.btn-group .dropdown-menu {
  min-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
  position: static;
  float: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.bootstrap-select.btn-group .dropdown-menu li {
  position: relative;
}

.bootstrap-select.btn-group .dropdown-menu li.disabled a {
  cursor: not-allowed;
}

.bootstrap-select.btn-group .dropdown-menu li a {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
  display: none;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
  display: inline-block;
}

.bs-searchbox {
  padding: 4px 8px;
}

.bs-searchbox .form-control {
  margin-bottom: 0;
  width: 100%;
  float: none;
}

/*** uncss> filename: bower_components/trumbowyg/dist/ui/trumbowyg.min.css ***/

/** Trumbowyg v1.1.7 - A lightweight WYSIWYG editor - alex-d.github.io/Trumbowyg - License MIT - Author : Alexandre Demode (Alex-D) / alex-d.fr */

.trumbowyg-box,
.trumbowyg-editor {
  display: block;
  position: relative;
  border: 1px solid #DDD;
  width: 96%;
  min-height: 300px;
  margin: 17px auto;
}

.trumbowyg-box .trumbowyg-editor {
  margin: 0 auto;
}

.trumbowyg-editor,
.trumbowyg-textarea {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1% 2%;
  min-height: 300px;
  width: 100%;
  border-style: none;
  resize: none;
  outline: 0;
}

.trumbowyg-textarea {
  position: relative;
  display: block;
  overflow: auto;
  border: none;
  white-space: normal;
}

.trumbowyg-editor[contenteditable=true]:empty:before {
  content: attr(placeholder);
  color: #999;
}

.trumbowyg-button-pane {
  position: relative;
  width: 100%;
  background: #ecf0f1;
  border-bottom: 1px solid #d7e0e2;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.trumbowyg-button-pane li {
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

.trumbowyg-button-pane li.trumbowyg-separator {
  width: 1px;
  background: #d7e0e2;
  margin: 0 5px;
  height: 35px;
}

.trumbowyg-button-pane:not(.trumbowyg-disable) li button:focus,
.trumbowyg-button-pane:not(.trumbowyg-disable) li button:hover {
  background-color: #FFF;
  outline: 0;
}

.trumbowyg-button-pane li .trumbowyg-open-dropdown:after {
  display: block;
  content: " ";
  position: absolute;
  top: 25px;
  right: 3px;
  height: 0;
  width: 0;
  border: 3px solid transparent;
  border-top-color: #555;
}

.trumbowyg-button-pane .trumbowyg-buttons-right {
  float: right;
  width: auto;
}

.trumbowyg-dropdown {
  width: 200px;
  border: 1px solid #ecf0f1;
  padding: 5px 0;
  border-top: none;
  background: #FFF;
  margin-left: -1px;
  -webkit-box-shadow: rgba(0,0,0,.1) 0 2px 3px;
  box-shadow: rgba(0,0,0,.1) 0 2px 3px;
}

.trumbowyg-dropdown button {
  display: block;
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  background: #FFF;
  padding: 0 14px;
  color: #333;
  border: none;
  cursor: pointer;
  text-align: left;
  font-size: 15px;
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
}

.trumbowyg-dropdown button:focus,
.trumbowyg-dropdown button:hover {
  background: #ecf0f1;
}

.trumbowyg-overlay {
  position: absolute;
  background-color: rgba(255,255,255,.5);
  width: 100%;
  left: 0;
  display: none;
}

.trumbowyg-button-pane li button {
  display: block;
  position: relative;
  text-indent: -9999px;
  width: 35px;
  height: 35px;
  overflow: hidden;
  background: url(./images/icons.png) no-repeat;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color .15s,background-image .15s,opacity .15s;
  -o-transition: background-color .15s,background-image .15s,opacity .15s;
  transition: background-color .15s,background-image .15s,opacity .15s;
}

.trumbowyg-button-pane li button.trumbowyg-viewHTML-button {
  background-position: 5px -545px;
}

.trumbowyg-button-pane li button.trumbowyg-formatting-button {
  background-position: 5px -120px;
}

.trumbowyg-button-pane li button.trumbowyg-bold-button {
  background-position: 5px -45px;
}

.trumbowyg-button-pane li button.trumbowyg-italic-button {
  background-position: 5px 5px;
}

.trumbowyg-button-pane li button.trumbowyg-underline-button {
  background-position: 5px -470px;
}

.trumbowyg-button-pane li button.trumbowyg-strikethrough-button {
  background-position: 5px -445px;
}

.trumbowyg-button-pane li button.trumbowyg-justifyLeft-button {
  background-position: 5px -320px;
}

.trumbowyg-button-pane li button.trumbowyg-justifyCenter-button {
  background-position: 5px -70px;
}

.trumbowyg-button-pane li button.trumbowyg-justifyRight-button {
  background-position: 5px -395px;
}

.trumbowyg-button-pane li button.trumbowyg-justifyFull-button {
  background-position: 5px -295px;
}

.trumbowyg-button-pane li button.trumbowyg-unorderedList-button {
  background-position: 5px -495px;
}

.trumbowyg-button-pane li button.trumbowyg-orderedList-button {
  background-position: 5px -370px;
}

.trumbowyg-button-pane li button.trumbowyg-horizontalRule-button {
  background-position: 5px -220px;
}

.trumbowyg-button-pane li:first-child button {
  margin-left: 6px;
}

@media only screen and (-webkit-min-device-pixel-ratio:1.3),only screen and (min--moz-device-pixel-ratio:1.3),only screen and (-o-min-device-pixel-ratio:4/3),only screen and (min-device-pixel-ratio:1.3),only screen and (min-resolution:192dpi),only screen and (min-resolution:2dppx) {
  .trumbowyg-button-pane li button {
    -webkit-background-size: 25px 575px!important;
    background-size: 25px 575px!important;
    background-image: url(./images/icons-2x.png)!important;
  }

  .trumbowyg-button-pane li button.trumbowyg-viewHTML-button {
    background-position: 5px -545px;
  }

  .trumbowyg-button-pane li button.trumbowyg-formatting-button {
    background-position: 5px -120px;
  }

  .trumbowyg-button-pane li button.trumbowyg-bold-button {
    background-position: 5px -45px;
  }

  .trumbowyg-button-pane li button.trumbowyg-italic-button {
    background-position: 5px 5px;
  }

  .trumbowyg-button-pane li button.trumbowyg-underline-button {
    background-position: 5px -470px;
  }

  .trumbowyg-button-pane li button.trumbowyg-strikethrough-button {
    background-position: 5px -445px;
  }

  .trumbowyg-button-pane li button.trumbowyg-justifyLeft-button {
    background-position: 5px -320px;
  }

  .trumbowyg-button-pane li button.trumbowyg-justifyCenter-button {
    background-position: 5px -70px;
  }

  .trumbowyg-button-pane li button.trumbowyg-justifyRight-button {
    background-position: 5px -395px;
  }

  .trumbowyg-button-pane li button.trumbowyg-justifyFull-button {
    background-position: 5px -295px;
  }

  .trumbowyg-button-pane li button.trumbowyg-unorderedList-button {
    background-position: 5px -495px;
  }

  .trumbowyg-button-pane li button.trumbowyg-orderedList-button {
    background-position: 5px -370px;
  }

  .trumbowyg-button-pane li button.trumbowyg-horizontalRule-button {
    background-position: 5px -220px;
  }
}

/*** uncss> filename: bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css ***/

/*
 * bootstrap-tagsinput v0.8.0
 * 
 */

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}

.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}

.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}

/*** uncss> filename: assets/css/style.css ***/

/* general layout */

@media (min-width: 768px) {
  .form-inline .form-group {
    margin-right: 10px;
  }

  .form-inline .location-picker input {
    min-width: 300px;
  }
}

@media (max-width: 420px) {
  .hidden-sm-down {
    display: none;
  }
}

@media (min-width: 1200px) {
  #place-sidebar {
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .content {
    margin-left: 0;
    padding: 6px;
  }
}

html,
body {
  height: auto;
}

.content {
  margin-left: 0;
  margin-top: 80px;
}

/* various typography elements */

.pointer {
  cursor: pointer;
}

.link {
  cursor: pointer;
  color: #337ab7;
}

.inline {
  display: inline;
}

.link:hover {
  color: #23527c;
  text-decoration: underline;
}

/* tables */

.table {
  background-color: white;
  border-radius: 0;
  margin-bottom: 0;
}

.table>thead>tr>th {
  border-width: 1px!important;
}

.table-wrap {
  padding: 10px;
  border-top: 2px solid #2A72B5;
}

/* UI elements */

.input-group-addon {
  border: 1px solid;
}

select.form-control,
.input-group-addon,
.trumbowyg-box,
.bootstrap-select.form-control button,
.form-control {
  border-color: #2A72B5;
  border-radius: 3px;
}

.bootstrap-select ul.dropdown-menu li.disabled {
  display: none;
}

.trumbowyg-box,
.trumbowyg-editor {
  margin: 0;
  width: 100%;
}

/* place page */

#place-main,
#place-sidebar>* {
  background-color: white;
  margin-bottom: 20px;
}

#place-main {
  padding-bottom: 20px;
}

#place-sidebar>.col {
  padding: 10px;
}

#place-sidebar>.col>*:first-child {
  margin-top: 0;
}

#place-sidebar>.col>*:last-child {
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  #place-main > .row > .col:first-child {
    padding-left: 40px;
  }

  #place-main > .row > .col:last-child {
    padding-right: 40px;
  }

  #place-main > .row {
    padding: 5px 0;
  }
}

.place-photo-wrap,
.leader-photo-wrap {
  position: relative;
  overflow: hidden;
}

.place-photo,
.leader-photo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.place-photo-wrap {
  width: 100%;
  height: 400px;
}

.leader-photo-wrap {
  height: 160px;
  width: 160px;
}

.place-photo-wrap + .leader-photo-wrap {
  border: 5px solid white;
  margin-left: 35px;
  margin-top: -120px;
}

.leader-photo {
  height: 100%;
  width: auto;
}

#photos {
  position: relative;
}

@media (max-width: 768px) {
  .place-photo-wrap {
    height: 200px;
  }

  .leader-photo-wrap {
    height: 100px;
    width: 100px;
    margin-left: 5px;
  }

  .place-photo-wrap + .leader-photo-wrap {
    margin-left: 5px;
    margin-top: -68px;
  }
}

.single-event p {
  margin: 3px 0;
}

.review {
  margin: 10px 0;
}

#contacts-block div {
  font-size: 110%;
}

.place-link {
  cursor: pointer;
}

.place-link:hover {
  background-color: #EFFBFF;
}

.place-link:hover .fa {
  color: #3E63D2;
}

#wrap {
  min-height: 85%;
}

.my-footer {
  border-top: 1px solid #CAD0D6;
  padding: 15px 0;
  margin: 0 2%;
  width: 96%;
  text-align: center;
}

#map {
  width: 100%;
  height: 500px;
}

.rating-group {
  font-size: 120%;
}

.rating-group .fa {
  color: #FFBE00;
}

.rating-group .fa {
  padding-top: 3px;
}

.rating-group {
  color: #FFBE00;
}

.rating-group.link:hover {
  text-decoration: none;
}

.rating-group.link:hover,
.rating-group.link:hover .fa {
  color: #FF9B00!important;
}

#additional-info-link {
  font-size: 120%;
}

.job h5 {
  display: inline-block;
}

/*** uncss> filename: https://fonts.googleapis.com/css?family=Roboto:300,400,500,700 ***/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/zN7GBFwfMP4uA6AR0HCoLQ.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOKCWcynf_cDxXwCLxiixG1c.ttf) format('truetype');
}
