html(ng-app="opendoorApp")
	head
		title Church Finder
		meta(content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport")
		base(href="/")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')
		link(rel='stylesheet', href='assets/color_admin/plugins/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='assets/color_admin/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css')
		link(rel='stylesheet', href='assets/color_admin/plugins/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='assets/color_admin/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css')
		link(rel='stylesheet', href='assets/color_admin/plugins/jquery-tag-it/css/jquery.tagit.css')
		link(rel='stylesheet', href='assets/color_admin/css/animate.min.css')
		link(rel='stylesheet', href='assets/color_admin/css/style.min.css')
		link(rel='stylesheet', href='assets/color_admin/css/style-responsive.min.css')
		link(rel='stylesheet', href='assets/color_admin/css/theme/default.css')
		link(rel='stylesheet', href='bower_components/bootstrap-select/dist/css/bootstrap-select.min.css')
		link(rel='stylesheet', href='bower_components/trumbowyg/dist/ui/trumbowyg.min.css')

		link(rel='stylesheet', href='assets/css/style.css')

		script(src='https://maps.googleapis.com/maps/api/js?key=#{apiKeys.googleMaps}&language=en')
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/jquery-ui/jquery-ui.min.js")
		script(src="bower_components/Datejs/build/date.js")
		script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
		script(src="bower_components/bootstrap-timepicker/js/bootstrap-timepicker.js")
		script(src="bower_components/bootstrap-select/dist/js/bootstrap-select.min.js")
		script(src="bower_components/tag-it/js/tag-it.min.js")
		script(src="bower_components/trumbowyg/dist/trumbowyg.min.js")

		script(src="bower_components/angular/angular.min.js")
		script(src="bower_components/angular-route/angular-route.js")
		script(src="bower_components/angular-cookies/angular-cookies.js")

		script(src="bower_components/trumbowyg-ng/dist/trumbowyg-ng.min.js")

		script(src="assets/js/utils.js")
		script(src="assets/js/locationpicker.js")
		script(src="assets/js/app.js")
		script(src="assets/js/controllers.js")
	block body
		body
			#header.header.navbar.navbar-default.navbar-fixed-top
				.container
					.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#header-navbar')
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/')
							span.brand-logo
							span.brand-text
								| OpenDoor.ooo
					#header-navbar.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li.dropdown
								a(href='/')
									| HOME
							li(ng-show="$root.$isLoggedIn")
								a(href='/places/add') ADD A PLACE

							li(ng-show="$root.$isAdmin")
								a.link(data-toggle='dropdown' ng-disabled)
									| ADMIN
									b.caret
								ul.dropdown-menu
									li
										a(href='/places/claims') PLACE CLAIMS

							li(ng-show="$isLoggedIn")
								a.link(data-toggle='dropdown' ng-disabled)
									| MY PLACES
									b.caret
								ul.dropdown-menu
									li
										a(href='/places/maintained') MAINTAINED PLACES
									li
										a(href='/places/changes') SUGGESTED CHANGES


							li(ng-show="$root.$isLoggedIn")
								a(href='/logout', target="_self") LOG OUT
							li(ng-hide="$root.$isLoggedIn")
								a(href='/login') LOG IN
							li(ng-hide="$root.$isLoggedIn")
								a(href='/register') REGISTER
			#wrap.ng-view
			footer#footer.my-footer(ng-controller="FooterCtrl")
				| © {{$root.$year}} OpenDoor -
				a.link(ng-click="$leaveFeedback($event)", ng-disabled="$isFeedbackPage")  Please give us feedback no matter how small to help improve this resource